html {
  min-height: 100%;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  font-weight: 400;
  width: 100%;
  background-color: #F8F8F8;
  color: #333;
  margin: 0;
}

body .modal-active {
  overflow: hidden;
  position: fixed;
}

a {
  color: #333;
  text-decoration: none;
}

a:visited {
  color: #333;
}

@font-face {
  font-family: 'Hero';
  font-weight: 500;
  src: url('/assets/font/Hero.otf') format("opentype");;
}

@font-face {
  font-family: 'Hero';
  font-weight: 400;
  src: url('/assets/font/Hero Light.otf') format("opentype");;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes bounce {
  0%   { top: 30px; }
  50%  { top: 25px; }
  100% { top: 30px; }
}

@-webkit-keyframes bounce {
  0%   { top: 30px; }
  50%  { top: 25px; }
  100% { top: 30px; }
}

.body-wrapper.first-load {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  transition: background-image 1s linear;
  animation: fadein 1s;
  -webkit-animation: fadein 1s;
}

.body-wrapper.first-load::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  opacity: 0;
}

.body-wrapper.load-products::before {
  background: none;
}

.background-overlay {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  background: linear-gradient(180deg,rgba(0,0,0,.2) 0,transparent 20%,transparent 50%,rgba(0,0,0,.2));
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 0;
  opacity:  0;
  transition: all 0.5s ease-in-out;
}

.background-overlay.loaded {
  opacity:  1;
}

.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  margin: 50px 0;
}

.info-block {
  font-family: 'Hero', 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 30px;
  opacity: 0;
}

.info-block.loaded {
  /* opacity: 1; */
  /* TODO, make this look nicer */
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.info-block h3 {
  font-weight: 400;
}

.info-block .day-name {
  font-size: 44px;
  margin: 0;
}

.info-block .day {
  display: inline-block;
  margin: 0 5px 0 0;
  font-size: 25px;
  font-weight: 500;
}

.info-block .month {
  margin: 0;
  font-size: 16px;
  display: inline-block
}

.info-block .year {
  margin: 0px 0 -15px;
  font-weight: 400;
  letter-spacing: 22px;
  font-size: 12px;
}

.movie-info-card {
  font-family: 'Hero', 'Open Sans', sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  opacity: 0;
  padding: 15px;
  margin: 15px;
  opacity: 0;
  background: black;
  background: rgba(0,0,0,0.8);
  max-width: 280px;
  border-radius: 5px;
}

.movie-info-card.loaded {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* .movie-info-card h1 {
  margin-bottom: 5px;
}

.movie-info-card h3 {
} */

.movie-info-card .overview {
  font-family: 'Open Sans';
  font-size: 14px;
}

.movie-info-card .year {
  /* font-size: 14px; */
  display: none;
  /* font-weight: 700; */
}

.movie-info-card .links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
}

.movie-info-card .links-wrapper a {
  color: rgba(255,255,255,0.9);
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}

.movie-info-card .links-wrapper a:hover {
  color: rgba(255,255,255,1);
  transform: translate(0, -1px);
}

.score-wrap svg {
  width: 20px;
  margin-bottom: -2px;
  margin-right: 2px;
}

.score-wrap .score {
  font-weight: 700;
  font-size: 20px;
}

/* .movie-info-card .score::before {
  content: '';
  background: url('../images/logo_only.png');
  background-size: 40px;
  padding: 25px;
  background-position: center;
  background-repeat: no-repeat;
} */



#scroll-indicator {
  position: absolute;
  width: 280px;
  height: 60px;
  left: calc(50% - 140px);
  bottom: 0;
  cursor: pointer;
  clip-path: circle(73% at 50% 220%);
  overflow: hidden;
  transition: all 0.25s ease-in-out;
}

#scroll-indicator::after {
  content: "";
  top: 0;
  left: 50%;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 1px white dashed;
  opacity: 0.6;
  margin: 0 auto;
  display: block;
}

#scroll-indicator .progress {
  content: "";
  top: 0;
  left: 50%;
  width: 280px;
  height: 280px;
  clip: rect(0 434px 217px 0);
  border-radius: 50%;
  transform: translateX(-50%) rotate(180deg);
  position: absolute;
  border: 2px #39C4B6 solid;
  margin: 0 auto;
  display: block;
}

#scroll-indicator img {
  position: absolute;
  width: 30px;
  left: calc(50% - 15px);
  top: 30px;
}

#scroll-indicator:hover img {
  animation: bounce 0.5s ease-out;
  animation-iteration-count: infinite;
}

.filters {
  margin-bottom: 50px;
}

.filters a {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  padding-bottom: 3px;
  position: relative;
}

/* .filters a:hover {
  border-bottom: 2px solid #333;
} */

.filters a.active {
  border-bottom: 2px solid #333;
}

.filters a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.filters a:not(.active):hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.search {
  float: right;
  position: relative;
  display: none;
}

.search img {
  position: absolute;
  right: 4px;
  width: 16px;
  top: 2px;
}

.search #search-input {
  width: 180px;
  font-size: 16px;
  background-color: #F8F8F8;
  border: none;
  padding-bottom: 7px;
  border-bottom: 1px solid #B2C0C8;
  margin-right: 2px;
}

.search #search-input:focus {
  outline: none;
  border-bottom: 1px solid #333;
}

.search #search-input::placeholder {
  color: rgba(178,192,200,0.4);
  font-size: 14px;
}

#products {
  display: flex;
  align-items: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin: 0 0 -2em -2em;
}

.product-card {
  flex: 0 0 calc(100% - 24px);
  margin: 0 0 2em 2em;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
  transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .1s ease-out;
  transition-delay: .1s;
  overflow: hidden;
  border-radius: 4px;
  transform: translateZ(0);
  cursor: pointer;
  opacity: 0.2;
}

.product-card:hover {
  box-shadow: rgba(45,45,45,0.05) 0px 2px 2px, rgba(49,49,49,0.05) 0px 4px 4px, rgba(42,42,42,0.05) 0px 8px 8px, rgba(32,32,32,0.05) 0px 16px 16px, rgba(49,49,49,0.05) 0px 32px 32px, rgba(35,35,35,0.05) 0px 64px 64px;
  transform: translate(0, -4px);
}

.product-card::after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #B2C0C8;
  animation: loadingH 1.5s cubic-bezier(.17,.37,.43,.67) infinite;
  position: absolute;
  top: 10%;
  left: calc(50% - 25px);
}

.product-card * {
  opacity: 0;
}

.product-card.is-loaded {
  opacity: 1;
}

.product-card.is-loaded * {
  opacity: 1;
}

.product-card.is-loaded::after {
  display: none;
}

.product-card.active .overview {
  height: calc(100% - 30px);
  transition: 0.4s;
  /*transition-delay: 0.3s;*/
  top: 0;
}

.product-card .overview {
  transition: 0.4s;
  height: 0px;
  background: white;
  padding: 15px;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  top: -35px;
  bottom: 0;
  left: 0;
  right: 0;
}

.product-card .overview::after {
  display: block;
  position: absolute;
  bottom: 0px;
  background-image: linear-gradient(to bottom, transparent 22%, white 48%);
  height: 35%;
  width: 100%;
  content: '';
  z-index: 0;
}

.product-card .overview p.release-date {
  margin: 0px 0px 5px;
  font-size: 12px;
  font-weight: bold;
  color: #B2C0C8;
}

.product-card .overview .trailer-button {
  transform: translateZ(0);
  transition: box-shadow .1s ease-out, transform .1s ease-out, opacity .2s ease-out;
  transition-delay: .1s;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,0.05);
  bottom: 15px;
  width: 104px;
  padding: 5px 8px;
  text-align: center;
  left: calc(50% - 52px);
  border-radius: 15px;
  background-color: #edf2f6;
  color: #B2C0C8;
  position: absolute;
  cursor: pointer;
  z-index: 3;
  opacity: 0.9;
}

.product-card .overview .trailer-button:hover {
  opacity: 1;
}

.product-card .image {
  position: relative;
}
.product-card .image img {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
  border: 0;
}

.product-card .image .score {
  font-size: 14px;
  position: absolute;
  background: #333;
  color: white;
  border-radius: 50%;
  bottom: -13px;
  left: 15px;
  line-height: 2.7;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: bold;
}

.product-card .product-info {
  padding: 15px 15px 20px;
  height: 60px;
  overflow: hidden;
}

.product-card .product-info h1.title {
  margin: 10px 0px 15px;
  font-size: 20px;
}

.product-card .product-info p.vote-count {
  font-size: 14px;
  display: inline-block;
  margin-top: -5px;
  opacity: 0.5;
}

#custom-modal-container {
  position: fixed;
  display: table;
  height: calc(100% + 150px);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scale(0);
  z-index: 1;
}
#custom-modal-container.video-modal {
  z-index: 1031;
  transform: scale(1);
}
#custom-modal-container.video-modal .modal-background {
  background: rgba(0, 0, 0, 0.7);
}
#custom-modal-container.video-modal .modal-background .custom-modal {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#custom-modal-container.video-modal + .reaction-container {
  z-index: 1;
  animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#custom-modal-container.video-modal.out {
  z-index: -1;
}
#custom-modal-container.video-modal.out .modal-background {
  background: none;
}
#custom-modal-container.video-modal.out .modal-background .custom-modal {
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#custom-modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  vertical-align: middle;
  padding-bottom: 150px;
  width: 100%;
  height: 100%;
}
#custom-modal-container .modal-background .custom-modal {
  background: white;
  padding: 0px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width: 300px;
  height: 169px;
}
#custom-modal-container .modal-background .custom-modal .action-buttons a {
  width: 100%;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  opacity: 0.9;
}
#custom-modal-container .modal-background .custom-modal .action-buttons a:last-of-type {
  margin-bottom: 0;
}
#custom-modal-container .modal-background .custom-modal .action-buttons a i {
  padding-right: 5px;
}
#custom-modal-container .modal-background .custom-modal .action-buttons a:hover {
  opacity: 1;
  border-color: #737373;
}

#custom-modal-container .modal-background .close-custom-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 35px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

#custom-modal-container .modal-background .close-custom-modal:hover {
  opacity: 0.9;
}


// Embeds responsive
//
// Bootstrap.
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.review-card * {
  opacity: 0;
}

.review-card.is-loaded {
  opacity: 1;
}

.review-card.is-loaded * {
  opacity: 1;
}

.review-card.is-loaded::after {
  display: none;
}

.review-card {
  flex: 0 0 calc(100% - 40px);
  margin: 0 0 40px 2em;
  background: white;
  border-radius: 5px;
  font-size: 14px;
}

.backdrop-wrapper {
  display: inline-block;
  position: relative;
  z-index: 0;
  margin: -20px 0 0 20px;
  width: calc(100% - 40px);
  transition: all .2s ease-out;
}

.backdrop-wrapper .backdrop {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease-out
}

.backdrop-wrapper .colored-shadow {
  transition: all .2s ease-out;
  height: 100%;
  transform: scale(.94);
  width: 100%;
  top: 14px;
  filter: blur(12px);
  position: absolute;
  background-size: cover;
  z-index: -1;
}

.backdrop-wrapper .score {
  position: absolute;
  right: calc(50% - 18px);
  transition: all .2s ease-out;
  font-weight: 600;
  bottom: -4px;
  background: white;
  padding: 2px 14px;
  border-radius: 10px;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
}

.bottom {
  padding: 20px 20px 0;
}

.bottom .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.actions-bar {
  margin-top: 10px;
  color: #999;
  width: 100%;
  height: 46px;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #EAF1F6;
  box-sizing: border-box;
  text-align: right;
  padding:  0 15px;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin-top: 5px;
  float: left;
  margin-right: 5px
}

.user-name {
  text-align: left;
  margin-top: 6px;
  margin-bottom: -3px;
  display: inline-block;
  float: left;
  width: calc(100% - 110px);
  color: black;
  font-size: 16px;
}

.review-card .time-ago {
  text-align: left;
  font-size: 12px;
  float: left;
  width: calc(100% - 110px);
}

.showmore-button {
  cursor: pointer;
  margin-top: 5px;
  padding: 0px;
  color: cadetblue;
  display: inline-block;
}

@media (min-width: 600px) {
  .review-card {
    flex:  0 0 calc(50% - 28px);
  }
}

@media (min-width: 1024px) {
  .review-card {
    flex: 0 0 calc(33% - 25px);
  }
}

@media (min-width: 1400px) {
  .review-card {
    flex: 0 0 calc(25% - 28px);
  }
}

@keyframes loadingH {
  0% {width: 15px;}
  50% {width: 35px; padding: 4px;}
  100% {width: 15px;}
}


@media (min-width: 450px) {
  .search {
    display: inline-block;
  }
  .container {
    padding: 0 30px;
  }
  .product-card {
    flex: 0 0 calc(50% - 24px);
  }
  #custom-modal-container .modal-background .custom-modal {
    width: 500px;
    height: 281px;
  }
}
@media (min-width: 992px) {
  .container {
    padding: 0 60px;
  }
  .product-card {
    flex: 0 0 calc(33% - 21px);
  }
  #custom-modal-container .modal-background .custom-modal {
    width: 640px;
    height: 360px;
  }
}
@media (min-width: 1350px) {
  .movie-info-card {
    margin: 30px;
  }
  .container {
    padding: 0 80px;
  }
  .product-card {
    flex: 0 0 calc(25% - 24px);
  }
}
@media (min-width: 1550px) {
  .container {
    max-width: 1650px;
  }
  .product-card {
    flex: 0 0 calc(20% - 24px);
  }
}
